body {
    background-color: lightblue;
    color: black;
}
<<<<<<< HEAD

.rounded {
    width: 50%;
}
=======
.jumbotron {
    background-color: lightblue;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
>>>>>>> origin/Cheris-branch
