body {
    background-color: lightblue;
    color: black;
}

.rounded {
    width: 50%;
}

.jumbotron {
    background-color: lightblue;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    background-color:lightblue;
}

h1{
    font-size: 50px;
    font-family:Arial, sans-serif;
    margin-left: 50px;
}

p{
    margin-left:50px;
    margin-right:50px;
    margin-top:50px;
    font-family: Arial, sans-serif;
}

form{
    margin-left:50px;
    margin-right: 50px;
    /*margin-top: 50px;*/
    font-family:Arial, sans-serif;
    /*background-color:lightgrey;*/
}

.card-img-top {
    width: 200px;
}